[submodule ".registry"]
	path = .registry
	url = https://github.com/colrverse/colrverse.r-universe.dev
	branch = HEAD
[submodule "lightr"]
	path = lightr
	url = https://github.com/ropensci/lightr
[submodule "pavo"]
	path = pavo
	url = https://github.com/rmaia/pavo
