[submodule ".registry"]
	path = .registry
	url = https://github.com/colrverse/universe
	shallow = true
	branch = HEAD
[submodule "pavo"]
	path = pavo
	url = https://github.com/rmaia/pavo
	shallow = true
	registered = true
[submodule "lightr"]
	path = lightr
	url = https://github.com/ropensci/lightr
	shallow = true
	registered = true
